* {
  margin: 0px;
  padding: 0px;
}

header {
  margin: auto;
  padding: 20px;
  background-color: #666699;
  color: lightgray;
  text-align: center;
}

.pet h2 {
text-align: center;
}

.petCounter {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.viewFavs {
  margin: 5px;
}

.favPets img {
  max-height: 200px;
  max-width: 200px;
}

.pet img {
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  max-width: 200px;
}

#backToSearch {
text-align: center;
margin: 20px;
}
